fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
llama-cpp-python
bitsandbytes
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
transformers
torch==2.5.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
peft
redis
celery
scikit-learn
psycopg2-binary
httpx
python-dotenv
websockets